body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: 3D1766;
}
h1 {
  color: #3385ff;
  font-weight: bold;
}

#container {
  height: 500px;
  display: flex;
  align-items: flex-start;
}

.container {
  margin: 0.1rem 5rem;
}

.bar {
  width: 10px;
  background-color: black;
  margin: 1px;
}

.btn {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  color: #171e29;
}

.btn:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .btn {
    min-width: 170px;
  }
}
